#img{
    height: 550px;
    width: 550px;
    border-radius: 50%;
    position: absolute;
    left: -275px;
}
#holder{
    margin-top: 10px;
}
#pin {
    position: absolute;
    width: 100px;
    top: 42%;
    left: 250px;
}
#message {
    text-align: center;
    font-size: 125%;
}
#txt {
    color: #00b7ff;
    font-size: 300%;
}
.modal-content { background: rgb(187, 229, 240) !important; }
.btn-default {
    background-color: #d38285;  
    color: rgb(187, 229, 240);
    border-color: #C5585C;
    font-size: 120%;
}
.btn-default:hover,  .open .dropdown-toggle.btn-default {
    background-color: #cb6a6e;
    color:rgb(187, 229, 240);
    border-color: #C5585C;
    font-size: 120%;
}
.close {
    color: #D27E81;
    opacity: 1;
}
body{
    overflow: hidden;
    color: #D27E81;
    font-family: Bradley Hand, cursive;
    background-image: url("../images/background.jpg");
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.popupHolder{
    
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(0,0,0,0.7);
    color: #D27E81;
    z-index: 2000;
    white-space: nowrap
}
.popupTxt{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 400%;
    word-break: break-word !important;
}